@keyframes example {
  0%   {background-image:url('hck.jpg');}
  50%  {background-image:url('hck1.jpg');}
}
.header{
	color :white;
}
body{
	background-image:url('hck.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	animation-name: example;
    animation-duration: 40s;
    animation-iteration-count: infinite
}
.cip{
    word-break: break-all;
}
.card-stacked{
	background-color : grey;
	font-family: italic;
	font-size: 32px;
}
.about{
	height:200px;
}
.card{
	margin-top:100px;
	
}
.materialboxed{
	 border: 5px solid gray;
	 height:300px;

	
}
.page-footer{
	margin-top:17%;
}
.fm{
	margin: 5%;
}
.bottom{
	margin-top:10%;
}
.mn{
	background-image: none;
}
